<form>
  <div class="row">
      <div class="col-xs-4">
          <div class="input-group">
              <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                      <li><a href="#">Buy</a></li>
                      <li><a href="#">Sell</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Short Sell</a></li>
                      <li><a href="#">Cover Short</a></li>
                  </ul>
              </div>
              <input type="text" class="form-control" placeholder="Select an order action">
          </div>
      </div>
      <div class="col-xs-4">
          <div class="input-group">
              <input type="text" class="form-control" placeholder="Enter a symbol">
              <div class="input-group-btn">
                  <button type="button" class="btn btn-default">Go</button>
              </div>
          </div>
      </div>
      <div class="col-xs-4 span8">
        <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" placeholder="US Dollar">
        </div>
      </div>
      <hr>
      <div class="col-xs-12">
        <button type="button" class="btn btn-default pull-right">Cancel</button>
        <button type="button" class="btn btn-default pull-right">Save</button>
      </div>
  </div>
</form>