<div class="jumbotron">
    <div class="container">
        <h1>Timer</h1>
        <h3><timer autostart="false" interval="1000">{{hours}} hour{{hoursS}}, {{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}.</timer></h3>
        <button ng-click="startTimer()" ng-disabled="timerRunning">Start Timer</button>
        <button ng-click="stopTimer()" ng-disabled="!timerRunning">Stop Timer</button>
        <button ng-click="resumeTimer()" ng-disabled="timerRunning">Resume Timer</button>
    </div>
</div>

<div class="container">
    <div class="panel panel-default">

    </div>
</div>